.contacts
{
    padding-bottom: 150px;
}
.contacts .title
{
    display: flex;
    width: 100%;
    align-items: center;
}
.contacts .title h2
{
    color: var(--white);
    font-weight: 600;
    font-size: 36px;
}
.contacts .title h2 span
{
    color: var(--pink);
}
.contacts .line
{
    flex-grow: 1;
    height: 1px;
    position: relative;
    top: 2px;
    background-color: var(--pink);
    margin-left: 19px;
}
.contacts .content
{
    display: flex;
    justify-content: space-between;
}
.contacts .content .text
{
    color: var(--white);
    font-size: 19px;
    width: 760px;
    margin-top: 70px;
    line-height: 1.6;
    font-weight: 500;
}
.contacts .content .text span
{
    font-size: 17px;
    color: var(--grey);
}
.contacts .content .contact-box
{
    width: 231px;
    height: 141px;
    border: 1px solid var(--grey);
    padding: 17px 22px 22px 22px;
    margin-top: 70px;
}
.contacts .content .contact-box h6
{
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 10px;
}
.contacts .content .contact-box .item-parent
{
    display: flex;
    align-items: center;
    padding-top: 9px;
}
.contacts .content .contact-box .item-parent a
{
    text-decoration: none;
    color: var(--grey);
    font-size: 16px;
    margin-left: 6px;
}
.contacts .decoration
{
    position: absolute;
    left: 0;
    margin-top: 10px;
}