/* HERO SECTION */
.hero
{
    display: flex;
    padding-top: 150px;
}
.hero .greet
{
    font-size: 23px;
    font-weight: 400;
    color: var(--white);
}
.hero .name
{
    font-size: 65px;
    font-weight: 400;
}
.hero .contact-parent
{
    display: flex;
}
.hero .contact-parent img
{
    display: none;
}
.hero .name span
{
    letter-spacing: 8px;
}
.hero .name span span
{
    letter-spacing: 3px;
}
.hero .typing
{
    font-size: 34px;
    font-weight: 500;
    color: var(--pink);
}
.hero .comment
{
    margin-top: 27px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--grey);
}
.hero .contact
{
    margin-top: 34px;
}
.hero .left
{
    margin-top: 70px;
}
.hero .right
{
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: end;
    flex-direction: column;
}
.hero .right img
{
    position: relative;
    right: -30px;
    width: 600px;
    z-index: 1;
}
.hero .right .bg-logo
{
    position: absolute;
    top: 110px;
    left: 15px;
    z-index: 0;
}
.hero .right .bg-logo-mobile
{
    display: none;
}
.hero .right .dots
{
    position: absolute;
    z-index: 2;
    top: 340px;
    right: 15px;
}
.hero .right .status
{
    position: relative;
    right: 15px;
    width: 545px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: 1px solid var(--pink);
}
.hero .right .status div
{
    width: 23px;
    height: 23px;
    background-color: var(--pink);
}
.hero .right .status h4
{
    color: var(--grey);
    font-size: 22px;
    font-weight: 400;
}
.hero .right .status h4 span
{
    color: var(--white);   
}
/* SMALL LAPTOPS */
@media (max-width: 1400px) and (min-width: 1000px)
{
    .hero
    {
        display: flex;
        padding-top: 120px;
    }
    .hero .greet
    {
        font-size: 19px;
        font-weight: 400;
        color: var(--white);
    }
    .hero .name
    {
        font-size: 56px;
        font-weight: 400;
    }
    .hero .name span
    {
        letter-spacing: 8px;
    }
    .hero .name span span
    {
        letter-spacing: 3px;
    }
    .hero .typing
    {
        font-size: 30px;
        font-weight: 500;
        color: var(--pink);
    }
    .hero .comment
    {
        margin-top: 27px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        color: var(--grey);
    }
    .hero .contact
    {
        margin-top: 34px;
    }
    .hero .left
    {
        margin-top: 53px;
    }
    .hero .right
    {
        flex-grow: 1;
        position: relative;
        display: flex;
        align-items: end;
        flex-direction: column;
    }
    .hero .right img
    {
        position: relative;
        right: -30px;
        width: 494px;
        z-index: 1;
    }
    .hero .right .bg-logo
    {
        position: absolute;
        width: 170px;
        height: 170px;
        top: 93px;
        left: 35px;
        z-index: 0;
    }
    .hero .right .dots
    {
        position: absolute;
        z-index: 2;
        top: 300px;
        right: 7px;
        width: 100px;
        height: 100px;
    }
    .hero .right .status
    {
        position: relative;
        right: 7px;
        width: 448px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        border: 1px solid var(--pink);
    }
    .hero .right .status div
    {
        width: 23px;
        height: 23px;
        background-color: var(--pink);
    }
    .hero .right .status h4
    {
        color: var(--grey);
        font-size: 18px;
        font-weight: 400;
    }
    .hero .right .status h4 span
    {
        color: var(--white);   
    }
}
@media (max-width: 500px) {
    .hero
    {
        display: flex;
        flex-direction: column;
        padding-top: 90px;
    }
    .hero .greet
    {
        font-size: 18px;
    }
    .hero .name
    {
        font-size: 39px;
        letter-spacing: 0px;
        position: relative;
        left: -3px;
        font-weight: 500;
    }
    .hero .name span
    {
        letter-spacing: 3px;
    }
    .hero .typing
    {
        font-size: 20px;
    }
    .hero .comment
    {
        font-size: 11px;
        line-height: 1.7;
        margin-top: 15px;
    }
    .hero .contact
    {
        height: 34px;
        width: 140px;
        margin-top: 0;
        font-size: 15px;
    }
    .hero .contact-parent
    {
        position: absolute;
        height: 86px;
        width: 100%;
        left: 0;
    }
    .hero .contact-parent button
    {
        display: none;
    }
    .hero .contact-parent img
    {
        display: block;
        width: 100%;
        object-fit: contain;
    }
    .hero .right
    {
        width: 320px;
        position: relative;
        margin-top: 80px;
    }
    .hero .right img
    {
        width: 320px;
        height: 292px;
        right: 0;
    }
    .hero .right .status
    {
        width: 290px;
        height: 32px;
        gap: 7px;
        right: 24px;
    }
    .hero .right .status div
    {
        width: 15px;
        height: 15px;
    }
    .hero .right .status h4
    {
        font-size: 14px;
    }
    .hero .right .bg-logo
    {
        display: none;
    }
    .hero .right .bg-logo-mobile
    {
        display: block !important;
        position: absolute;
        left: -17px;
        top: 78px;
    }
    .hero .right .dots
    {
        width: 65px;
        height: 65px;
        top: 180px;
        right: 50px;
    }
    .hero .left
    {
        margin-top: 0;
    }
}
@media (max-width: 1000px) and (min-width: 500px)
{
    .hero
    {
        padding-top: 90px;
    }
    .hero .left
    {
        margin-top: 40px;
        width: 370px;
    }
    .hero .greet
    {
        font-size: 20px;
    }
    .hero .name
    {
        font-size: 49px;
        white-space: nowrap;
        position: relative;
        left: -2px;
        top: -1px;
    }
    .hero .typing
    {
        font-size: 28px;
    }
    .hero .comment
    {
        font-size: 14px;
        margin-top: 20px;
    }
    .hero .right
    {
        flex-grow: 1;
    }
    .hero .right img
    {
        width: 370px;
        height: 340px;
        right: 0;
    }
    .hero .right .status
    {
        width: 336px;
        height: 35px;
        right: 27px;
        gap: 7px;
    }
    .hero .right .status h4
    {
        font-size: 14px;
        position: relative;
        top: 0.5px;
    }
    .hero .right .status div
    {
        width: 16px;
        height: 16px;
    }
    .hero .contact
    {
        margin-top: 27px;
    }
    .hero .right .dots
    {
        width: 72px;
        height: 72px;
        top: 240px;
        right: 35px;
    }
    .hero .right .bg-logo
    {
        display: none;
    }
    .hero .right .bg-logo-mobile
    {
        display: block;
        position: absolute;
        width: 127px;
        height: 127px;
        left: -10px;
        top: 85px;
    }
}