/* LINKS */
.links
{
    position: fixed;
    left: 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    z-index: 150;
    background-color: var(--bg-color);
    border-radius: 20px;
}
.links .line
{
    width: 1px;
    height: 250px;
    background-color: var(--grey);
}
.links path
{
    fill: var(--grey);
}
.links svg
{
    width: 40px;
    height: 40px;
}
.links svg:hover path
{
    fill: var(--white);
}
@media (max-width: 1400px)
{
    .links
    {
        left: 25px;
    }
    .links svg
    {
        width: 30px;
        height: 30px;
    }
    .links .line
    {
        height: 200px;
    }
}