/* MENU */
.menu
{
    width: 100%;
    position: fixed;
    padding: 15px 0;
    background-color: var(--bg-color);
    z-index: 100;
}
.menu .container
{
    height: 50px;
    display: flex;
    justify-content: space-between;
}
/* LEFT PART */
.menu .logo
{
    display: flex;
    gap: 11px;
}
.menu .logo h1
{
    font-size: 32px;
}
.menu .logo h1 span
{
    letter-spacing: 3px;
}
/* RIGHT PART */
.menu .elements
{
    display: flex;
    align-items: center;
    gap: 54px;
    font-size: 25px;
}
.menu .elements a
{
    text-decoration: none;
    color: var(--grey)
}
.menu .elements a:hover
{
    color: var(--white)
}
.menu .elements a::before
{
    content: "#";
    color: var(--pink)
}
.menu .elements a.selected
{
    color: var(--white)
}
@media (max-width: 1400px)
{
    .menu .logo svg
    {
        width: 40px !important;
        height: 40px !important;
        position: relative;
        top: 2px;
    }
    .menu .logo h1
    {
        font-size: 32px;
    }
    .menu .elements
    {
        font-size: 24px;
    }
}
@media (max-width: 1000px)
{
    .menu .elements
    {
        display: none;
    }
}