/* MENU */
.menu
{
    width: 100%;
    position: fixed;
    padding: 15px 0;
    background-color: var(--bg-color);
    z-index: 100;
}
.menu .container
{
    height: 50px;
    display: flex;
    justify-content: space-between;
}
/* LEFT PART */
.menu .logo
{
    display: flex;
    gap: 11px;
}
.menu .burger_button
{
    display: none;
}
.menu .burger_content
{
    display: none;
}
.menu .logo h1
{
    font-size: 32px;
}
.menu .logo h1 span
{
    letter-spacing: 3px;
}
/* RIGHT PART */
.menu .elements
{
    display: flex;
    align-items: center;
    gap: 54px;
    font-size: 25px;
}
.menu .elements a
{
    text-decoration: none;
    color: var(--grey)
}
.menu .elements a:hover
{
    color: var(--white)
}
.menu .elements a::before
{
    content: "#";
    color: var(--pink)
}
.menu .elements a.selected
{
    color: var(--white)
}
@media (max-width: 1400px)
{
    .menu .logo svg
    {
        width: 40px !important;
        height: 40px !important;
        position: relative;
        top: 2px;
    }
    .menu .logo h1
    {
        font-size: 32px;
    }
    .menu .elements
    {
        font-size: 24px;
    }
}
@media (max-width: 750px)
{
    .menu
    {
        height: 32px;
        padding: 15px 0;
        overflow: hidden;
        position: fixed;
        display: flex;
        flex-direction: column;
    }
    .menu .elements
    {
        display: none;
    }
    .menu .logo
    {
        gap: 8px;
    }
    .menu .logo svg
    {
        width: 30px !important;
        height: 30px !important;
    }
    .menu .logo h1
    {
        font-size: 24px;
    }
    .menu .burger_button
    {
        display: block;
        position: relative;
        top: 5px;
    }
    .menu .burger_content
    {
        display: block;
        flex-grow: 1;
    }
    .menu .burger_content .container
    {
        display: block;
        position: relative;
        height: 100%;
    }
    .menu .burger_content .items
    {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-left: 15px;
    }
    .menu .burger_content .items a
    {
        font-size: 30px;
        color: var(--grey);
        text-decoration: none;
    }
    .menu .burger_content .items a.selected
    {
        color: var(--white);
    }
    .menu .burger_content .items a::before
    {
        content: '#';
        color: var(--pink);
    }
    .menu .links
    {
        width: 100%;
        left: 0;
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 100px;
        gap: 30px;
        justify-content: center;
    }
    .menu .links svg
    {
        width: 45px;
        height: 45px;
    }
}
@media (max-width: 1000px) and (min-width: 750px)
{
    .menu
    {
        padding-bottom: 0;
        padding-top: 13px;
    }
    .menu .elements
    {
        gap: 34px;
        height: 37px;
    }
    .menu .elements a
    {
        font-size: 20px;
    }
}