.skills .title
{
    display: flex;
    align-items: center;
}
.skills .title h2
{
    color: var(--white);
    font-weight: 600;
    font-size: 36px;
}
.skills .title h2 span
{
    color: var(--pink);
}
.skills .line
{
    width: 480px;
    height: 1px;
    position: relative;
    top: 2px;
    background-color: var(--pink);
    margin-left: 19px;
}
/* CONTENT DIV */
.skills .content
{
    display: flex;
}
/* DECORATIONS PARENT */
.skills .decorations
{
    margin-top: 50px;
    left: 34px;
    width: 414px;
    height: 315px;
    position: relative;
}
.skills .decorations .dots-top
{
    position: absolute;
    top: 21px;
}
.skills .decorations .div-top
{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid var(--grey);
    right: 87px;
}
.skills .decorations .logo
{
    position: absolute;
    top: 200px;
    left: 33px;
}
.skills .decorations .dots-middle
{
    position: absolute;
    top: 175px;
    left: 230px;
}
.skills .decorations .div-right
{
    position: absolute;
    width: 74px;
    height: 74px;
    bottom: 10px;
    right: 0;
    border: 1px solid var(--grey);
}
/* MAIN CONTENT */
.skills .main
{
    flex-grow: 1;
    margin-left: 10px;
    display: flex;
    gap: 23px;
    margin-top: 33px;
    justify-content: end;
}
.skills .main .column
{
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.skills .main .column .item
{
    width: 236px;
    border: 1px solid var(--grey);
}
.skills .main .column .item .title
{
    border-bottom: 1px solid var(--grey);
}
.skills .main .column .item .title p
{
    width: 100%;
    padding: 9px 11px;
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
}
.skills .main .column .item .content
{
    display: flex;
    flex-wrap: wrap;
    gap: 9px 14px;
    padding: 9px 11px 11px 11px;
}
.skills .main .column .item .content p
{
    font-size: 20px;
    color: var(--grey);
}
@media (max-width: 1400px)
{
    .skills .decorations .dots-middle
    {
        left: 250px;
        top: 130px;
    }
    .skills .decorations .div-right
    {
        left: 200px;
    }
    .skills .decorations .logo
    {
        width: 160px;
        height: 160px;
        left: 0px;
        top: 150px;
    }
    .skills .decorations .dots-top
    {
        left: -20px;
        top: 0;
    }
    .skills .decorations .div-top
    {
        width: 50px;
        height: 50px;
        right: 40px;
        top: 70px;
    }
}
@media (max-width: 1000px)
{
    .skills .content .decorations
    {
        display: none;
    }
    .skills .main
    {
        margin: 0;
        margin-top: 30px;
        flex-direction: column;
    }
    .skills .main .column
    {
        width: auto !important;
    } 
    .skills .main .column .item
    {
        width: auto;
    }
    .skills .main .column:nth-child(2) .item:nth-child(2)
    {
        width: 220px;
    }
    .skills .main .column:nth-child(3) .item:nth-child(1)
    {
        width: 270px;
    }
    .skills .main .column:nth-child(3) .item:nth-child(2)
    {
        width: 250px;
    }
    .skills .main .column .item .title p
    {
        font-size: 16px;
    }
    .skills .main .column .item .content
    {
        padding: 5px 11px 7px 11px; 
    }
    .skills .main .column .item .content p
    {
        font-size: 16px;
    }
}